:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C; 
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --font-title: #f5f5f7; 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: "Montserrat", serif;
}
body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #8c20a2), to(#fff)); /* Para navegadores antiguos de WebKit */
    background: -webkit-linear-gradient(top, #8c20a2 20%, #fff 45%); /* Para navegadores más recientes de WebKit */
    background: linear-gradient(to bottom, #8c20a2 20%, #fff 45%); /* Para navegadores estándar */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.header-company-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12vh;
    margin-top: 40px;
}
.header-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 445px;
    height: auto;
    margin: 0 auto;
    /* margin-top: 70px; */
    overflow: hidden;
}
.header-title::before {
    content: "";
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(98deg, transparent 0%, white 5%, white 100%);
    animation: animate 10s linear 1;
}

@keyframes animate {
    0% {
        left: -20%;
    }

    50% {
        left: 120%;
    }

}

.header-title h2{
    font-size: 52px;
    line-height: 1.07143;
    font-weight: 700;
    letter-spacing: -.005em;
    color: var(--font-title);
}
.header-title p{
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: .007em;
    margin-top: 6px;
    color: var(--font-title);
}
.img-backgorund{
    width: 60px;
    height: 60px;
    background-image: url(/assets/img/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 90vh;
}
.background-pattern {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 60%);
    background-image: url(/assets/img/background_pattern.png);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    z-index: 1;
    border-radius: 40% 40% 0 0;
}
.main-message-container,
.main-charts-container {
    position: relative;
    height: 100%;
    max-height: 77vh;
    z-index: 2; 
}
.main-message-container{
    width: 50%;
    text-align: center;
    align-items: center;
    /*background: linear-gradient(228deg, #f6efe7 11.19%, #6e2b88 100%);*/
}
.main-card-container{
    width: 90%;
    height: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.woman-img{
    width: 187px;
    height: 437px;
    margin-right: 6px;
    background-image: url(/assets/icons/character-1.svg);
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 5.5s ease, transform 5.5s ease; 
}
.woman-img.visible{
    opacity: 1; 
    transform: translateY(0);
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 320px;
    height: 380px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 5.5s ease, transform 5.5s ease; /* Transición para la aparición */
    
}
/* Clase visible para activar la transición */
.card.visible {
    opacity: 1; 
    transform: translateY(0); /* Restablecer la posición */
}
/* Estilo del color en la parte superior de la tarjeta (ahora es estático) */
.card::before {
    content: "";
    position: absolute;
    top: 2%;
    width: 95%;
    height: 120px;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    background: #8c20a2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
}

/* Eliminar el efecto de movimiento al pasar el cursor */
.card:hover {
    transform: none; /* Se elimina el movimiento */
    z-index: 10;
}
/* Estilo de la imagen del doctor */
.card .img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 10;
    transform: translateY(50px);
    border: 10px solid #fff;
    overflow: hidden;
    position: absolute;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    /* Estilo de la imagen dentro del círculo, asegurando que se centre correctamente */
    .card .img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Esta propiedad mantiene la proporción de la imagen sin estirarla */
    }
    
/* Estilo para el contenido de la tarjeta */
.content {
    width: 100%;
    height: 100%;
    transform: translateY(170px);
    display: flex;
    flex-direction: column;
    z-index: 20;
    align-items: center;
}

/* Estilo de la descripción del doctor */
.content p {
    margin: 0;
    font-size: 14px;
    color: #777;
}
.content h3 {
    font-size: 1.4rem; 

}
.box h4 {
    font-size: 1.4rem; 
    text-align: center; 
}

/* Estilo del contenedor de los detalles (experiencia, pacientes) */
.center {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

/* Estilo para las cajas de información (experiencia, pacientes) */
.box {
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
}

.box:hover {
    background-color: rgba(128, 128, 128, 0.137);
}

/* Estilo del botón de acción */
.btn {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    transform: translateY(10px);
    background: #8c20a2;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Efecto al pasar el cursor sobre el botón */
.btn:hover {
    background-color: #ff9900;
    transform: scale(1.05);
}
    

.main-charts-container{
    width: 50%;
    text-align: center;
    align-items: center;
    /*background: linear-gradient(492deg, #f6efe7 11.19%, #6e2b88 100%);*/
}
.main-detail-container{
    width: 90%;
    height: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.chart-detail--info{
    position: relative;
    display: flex;
    justify-content: center;
    width: 320px;
    height: 380px;
}
.chart-detail--title{
    display: none;
    position: absolute;
    width: 40px;
    /* height: 31px; */
    top: 89px;
    left: -101px;
    /* left: calc(50% - 20px);*/
}
.chart-detail--title h2{
    margin-bottom: 20px;
    font-size: 4.4rem;
    font-weight: bold;
    line-height: 3.6rem;
    color: var(--font-title);
}
.man-img{
    width: 157px;
    height: 447px;
    background-image: url(/assets/icons/character-2.svg);
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 5.5s ease, transform 5.5s ease; 
}
.man-img.visible{
    opacity: 1; 
    transform: translateY(0);
}
/* Estilo del color en la parte superior de la tarjeta (ahora es estático) */

.charts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    max-width: 325px;
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 5.5s ease, transform 5.5s ease; 
}
.charts-container.visible{
    opacity: 1; 
    transform: translateY(0);
}


.charts-container img{
    width: auto;
    max-width: 281px;
    height: auto;
    max-height: 130px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}